.App {
    text-align: center;

    border-style: solid;
    border-color: rgb(220, 220, 220);

    box-shadow: -1px 8px 35px -17px rgba(0, 0, 0, 0.75);
    -webkit-box-shadow: -1px 8px 35px -17px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: -1px 8px 35px -17px rgba(0, 0, 0, 0.75);

    margin-left: 30rem;
    margin-right: 30rem;
    margin-top: 5rem;

    border-radius: 10px;
    padding-bottom: 3.5rem;
}

.App2 {
    border-style: solid;
    border-color: rgb(220, 220, 220);

    box-shadow: -1px 8px 35px -17px rgba(0, 0, 0, 0.75);
    -webkit-box-shadow: -1px 8px 35px -17px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: -1px 8px 35px -17px rgba(0, 0, 0, 0.75);

    margin-left: 30rem;
    margin-right: 30rem;
    margin-top: 1rem;

    border-radius: 10px;
    padding-bottom: 1rem;
}

.earnBtn {
    -webkit-border-radius: 10;
    -moz-border-radius: 10;
    border-radius: 10px;
    font-family: Arial;
    color: #ffffff;
    font-size: 20px;
    background: #3f92ff;
    padding: 10px 20px 10px 20px;
    border: solid #a2ebff 1px;
    text-decoration: none;
  }
  
.earnBtn:hover {
    background: #3672bb;
  }

  p {
    margin-left: 10rem;
    margin-right: 10rem;
    font-size: smaller;
    margin: 0;

  }

  h1 {
    font-size:xx-large;
    font-weight: 300;

  }

  h3 {
    font-size: xxx-large;
    margin: 0;
  }

  h4 {
    font-size: x-large;
    font-weight: 600;
    margin: 0.5rem 2rem;
  }
.navTitle {
  height: max-content;
  margin: 15px 5px 15px 5px;
}

.paraDefault {
  margin-bottom: 3px;
}
  
.earnBtn {
  margin-top: 15px;
}

.income {
  margin-top: 15px;
}

.itemsP {
  margin: 0.5rem 2rem;
}

.bigItemText {
  text-align: center;
  margin: 5rem 0rem 1rem 0rem;
}